<a href="https://colab.research.google.com/github/AzuHooks/Course_FutureCoder_MH/blob/main/project_talent_migration_industry_MH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#industry
#which industry and country had the most negative migration in 2019

import pandas as pd

industry_m = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true", sheet_name="Industry Migration")
countries_low = industry_m[industry_m["wb_income"] == "Low income"]
pos_2019 = countries_low[countries_low["net_per_10K_2019"] < 0]
pos_2019[pos_2019["net_per_10K_2019"] == pos_2019["net_per_10K_2019"].min()]

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
3705,np,Nepal,Low income,South Asia,P,Education,68,Higher Education,153.5,-596.41,-985.47,-1745.8,-1943.62

In [ ]:
#get name industries which had positive migration in 2019
import pandas as pd

skill_s = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true", sheet_name="Skill Migration")
countries_low = skill_s[skill_s["wb_income"] == "Low income"]
pos_2019 = countries_low[countries_low["net_per_10K_2019"] > 0]
print("list of skill group with positive migration in 2019:")
for group_ in pos_2019["skill_group_name"].unique():
    print(group_)

list of skill group with positive migration in 2019:
Product Marketing
Family Medicine
Utilities
Automotive
Public Safety
Financial Accounting
Project Management
Business Management
Retail
Telecommunications
Higher Education
Nonprofit Management
Computer Networking
Entrepreneurship
Employee Learning & Development
Management Accounting
Human Resources (HR)
Technical Support
Teaching
Research
Editing
Data Science
Leadership
Graphic Design
Digital Literacy
System Administration
Cybersecurity
Foreign Languages
Communication
Development Tools
Data Storage Technologies
Auditing
Advertising
Architecture
Writing
Web Development
Event Planning
Administrative Assistance
Corporate Communications
Digital Marketing
Social Media
Public Health
Inside Sales
Sales Operations
Teamwork
Politics
Volunteer Management
Food Service Operations
Environmental Consulting
Social Services
Law
Drilling Engineering
Manufacturing Operations
Management Consulting
Economics
People Management
Public Policy
International Law
Inventory Management
Construction Engineering
Ground Transportation
Capital Markets
Growth Strategies
Enterprise Software
Investment Banking
Maintenance & Repair
Earth Science
Environmental Science
Oil & Gas
Hospitality Industry
Tax Accounting
Negotiation
Procurement
Personal Coaching
Journalism
Commercial Banking
Recruiting
Product Development
Cooking
Time Management
Geotechnical Engineering
Photography
Physical Security

In [ ]:
#countries with highest income 
import pandas as pd

c_high= pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true", sheet_name="Country Migration")

c_high_income = c_high[c_high["target_country_wb_income"] == "High Income"]
print("List of Countries clasified as high income:")
for country in c_high_income["target_country_name"].unique():
    print(country)

List of Countries clasified as high income:
Argentina
Australia
Austria
Bahrain
Belgium
Canada
Chile
Croatia
Cyprus
Czech Republic
Denmark
Finland
France
Germany
Greece
Hong Kong SAR, China
Hungary
Ireland
Italy
Japan
Korea, Rep.
Kuwait
Luxembourg
Malta
Netherlands
New Zealand
Norway
Oman
Poland
Portugal
Qatar
Saudi Arabia
Singapore
Slovak Republic
Spain
Sweden
Switzerland
Taiwan, China
United Kingdom
United States
United Arab Emirates
Israel
Panama
Uruguay
Slovenia
Estonia
Lithuania
Latvia
Bahamas, The
Iceland
Trinidad and Tobago
Puerto Rico